/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2019, 3:03:26 PM
    Author     : Ant
*/
@media(min-width:1200px){
    .content{
        width: 90%;
        margin: 0 auto;
    }
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.625;
    color: #666;
}

.navbar{
    font-size: 16px;
    color: #fff;
}

.navbar-brand{
    color: #fff;
    font-size: 28px;
    padding: 0;
}

.nav-menu > li{
    display: block;
    padding: 5px auto;
}

.nav-menu > li>a{
    display: block;
    padding: 5px 20px;
    font-size: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.102);
    border-bottom: 1px solid transparent;
    color: #f8f6f6;
    font-weight: bold;
}

.nav-menu > li>a:hover{
    text-decoration: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#navbarDropdown{
    display: block;
    padding: 5px 20px;
    font-size: 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.102);
    color: #f8f6f6;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}
#navbarDropdown:hover{
    text-decoration: none;
    outline: none;
    color: #fff;
}
a:hover, a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

[v-cloak] .v-cloak--block {
  display: block;
}
[v-cloak] .v-cloak--inline {
  display: inline;
}
[v-cloak] .v-cloak--inlineBlock {
  display: inline-block;
}
[v-cloak] .v-cloak--hidden {
  display: none;
}
[v-cloak] .v-cloak--invisible {
  visibility: hidden;
}
.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock {
  display: none;
}