<template>
    <div class="overflow-auto">
        <b-container fluid>
            <b-row>
                <b-col md="6" class="my-1">

                    <b-input-group>
                        <b-form-input v-model="filter" placeholder="Cari ..."></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Reset</b-button>
                        </b-input-group-append>
                    </b-input-group>

                </b-col>
                <b-col md="6" class="my-1">
                    <a href="places/create" class="btn btn-success"><i class="fa fa-plus"></i> Tambah</a>
                </b-col>
            </b-row>
            <b-table
                id="my-table"
                :items="items"
                :per-page="perPage"
                :fields="fields"
                :filter="filter"
                :current-page="currentPage"
                @filtered="onFiltered"
                small
                striped
                >
                <template slot="index" slot-scope="data">
                    {{ data.index + 1 + (currentPage-1)*perPage }}
                </template>
                <template slot="action" slot-scope="props" width= '50px'>
                    <div class="btn-group">
                        <a v-bind:href="'places/'+props.item.id+'/edit'" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <button @click.prevent="showConfirm(props.item.id)" v-bind:form="'deleteForm_'+props.item.id" class='btn btn-danger' type="submit"><i class="fa fa-trash-alt"></i> Delete</button>
                        <form v-bind:id="'deleteForm_'+props.item.id" v-bind:action="'places/'+props.item.id" method="post">
                            <input type="hidden" name="_token" :value="csrf">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>

                    </div>
                </template>
            </b-table>
            <b-row>
                <b-col md="6" >
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        class="my-0"
                        ></b-pagination>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    export default {
        props: ['items'],
        data() {
            return {
                perPage: 10,
                currentPage: 1,
                filter: null,
                totalRows: 1,
                fields: [
                    {
                        key: 'index',
                        label: 'No'
                    },
                    {
                        key: 'name',
                        label: 'Nama',
                        sortable: true
                    },
                    {
                        key: 'capacity',
                        label: 'Kapasitas',
                        sortable: true
                    },
                    {
                        key: 'action',
                        label: 'Aksi',
                    }
                ],
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            };
        },
        computed: {
            rows() {
                return this.items.length;
            },
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                        .filter(f => f.sortable)
                        .map(f => {
                            return {text: f.label, value: f.key};
                        });
            }
        },
        mounted() {
            // Set the initial number of items
            this.totalRows = this.items.length;
        },
        methods: {
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length;
                this.currentPage = 1;
            },
            showConfirm(id) {
                this.$bvModal.msgBoxConfirm('Yakin akan dihapus?')
                        .then(value => {
                            if (value === true) {
                               console.log('#deleteForm'+id);
                               $('#deleteForm_'+id).submit();
                            }
                        })
                        .catch(err => {
                            // An error occurred
                        });
            },
        }
    }
</script>
